body{
  background: #fdfcdc;
}
.container{
  position: relative;
  box-sizing: border-box;
  right: 10px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3,1fr);

}
.navbar{
  background-color:  #fed9b7;
}
.navbar-brand{
  font-family: cursive;
  font-weight: bold;
  color: black;
}
.click{
  font-family: cursive;
  font-weight: bold;
  color: black;
  font-variant: normal;
  font-style: italic;
  
}
.btn
{ 
  border-radius: 10px;
}
.card-body{
  background-color: #bee3db;
}
